text {
    fill: grey;
}

.countries {
    fill: none;
    stroke: grey;
    stroke-width: 0.25;
    transform: translate(4em, -11em);
}

.caption {
    text-anchor: start;
    font-size: 14px;
}

g.legend {
    transform: translate(5vw, 50vh);
    font-size: 13px;
}

a#CC,
a#D,
a#RC {
    height: 30px;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 0px;
}

a#CC {
    transform: translate(0.5vw, -1vh);
}

a#D {
    transform: translate(0.5vw, -4vh);
}

a#RC {
    transform: translate(0.5vw, -5.3vh);
}