text {
    fill: grey;
    font-family: Sentinel SSm A, Sentinel SSm B, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.countries {
    fill: none;
    stroke: grey;
    stroke-width: 0.25;
    transform: translate(4em, -11em);
}

.legend {
    font-size: 12px;
}

.caption {
    text-anchor: start;
    font-size: 14px;
}

button {
    position: absolute;
    background: white;
    color: grey;
    border: 0.125em solid grey;
    border-radius: 0;
    cursor: pointer;
    letter-spacing: 0.125em;
    margin: 0.5rem;
    padding: 0.5em 2em;
    
}

button#CC {
    transform: translate(10em, 0px);
    outline-color: #243f97;
}

button#D {
    transform: translate(28.5em, 0px);
    outline-color: #c74648;
}

button#RC {
    transform: translate(40em, 0px);
    outline-color: #0b692a;
}

