text {
    fill: grey;
    font-family: Sentinel SSm A, Sentinel SSm B, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.tick line,
path.domain {
    stroke: rgb(240, 240, 240);
}

g.tick {
    font-size: 12px;
}

button {
    position: absolute;
    background: white;
    color: grey;
    border: 0.125em solid grey;
    border-radius: 0;
    cursor: pointer;
    letter-spacing: 0.125em;
    margin: 0.5rem;
    padding: 0.5em 2em;
    outline-color: #e15759;
}

button#CA {
    transform: translate(22em, 0px);
}

button#TX {
    transform: translate(32em, 0px);
}

button#FL {
    transform: translate(42em, 0px);
}

button#NY {
    transform: translate(52em, 0px);
}