.legendContainer{
    fill: white;
    stroke: black;
    stroke-width: 2;
    opacity: .3;
}

text{
    font-family: sans-serif;
}

.bubble{
    fill-opacity: .7;
    stroke: #fff;
    stroke-width: .3px;
}
