
.states:hover{
    opacity: .4;
    stroke-width: 0;
}

.states {
    fill: none;
    stroke: grey;
    stroke-width: 0.25;
}

text {
    fill: grey;
}

.legendContainer{
    font-size: 13px;
    fill: #ffffff00;
    stroke-width: 0;
}

.caption {
    text-anchor: start;
    font-size: 14px;
}

g.cclegend, 
g.plegend {
    transform: translate(5vw, 50vh);
    font-size: 13px;
}

.bubble{
    fill-opacity: .6;
    stroke: #fff;
    stroke-width: .1px;
}

button {
    position: absolute;
}

.center-block {
    float: none !important
}